body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(246, 244, 245);
}

.main_container {
    margin-inline:auto;
    background-color: rgb(255, 255, 255);
}
.navbar {
    position: sticky;
    top:0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    z-index: 5;
}

.white-btn {
    color: white;
}

.nb_logo {
    height:12rem;
    margin-left: 4.5rem;
}

.nb_menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:1.5rem;
    margin-right: 6rem;
}

.black_line {
    position: sticky;
    top:12rem;
    margin-inline:0.1rem;
    border-width: 0.2rem;
    border-color: black;
    
}

a {
    font-weight: 500;
    color: rgb(33, 8, 19);
    font-size: 1rem;
}

a:hover {
    color: rgb(182, 165, 173);
}

.o_mnie_container, .oferta_container, .projekty_container, .kontakt_container {
    padding-top: 6rem;
}

.grey {
    margin-bottom: 6rem;
    opacity: 40%;
}
.white {
    color: white;
    border:none;
    margin-bottom: 6rem;
}

.line {
    color: white;
    border:none
}

.section {
    margin-inline: 6rem;
}

.grid-projektow {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.projekt_box {
    width:15rem;

}

.pr-image {
    width: 100%;
    height: 15rem;
    object-fit: cover;

}

h1 {
    font-size: 1.875rem;
    margin-bottom: 1rem;
}

p, li {
    font-size: 1rem;
    color: rgb(33, 8, 19);
    line-height: 2.25rem;
}

h2 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    line-height: 1.25rem;
}

.ft_info {
    line-height: 1rem;
    margin-bottom: 1.5rem;
    color: rgb(182, 165, 173);
}

.section-info {
    padding-left: 2.5rem;
}

.kontakt_container {
    padding-bottom: 10rem;
}

.kontakt_cont {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.map {
    width: 75%;
}
.kontakt_text {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    padding-left: 2.5rem;

}
.mail {
    margin-top: 0.575rem;
    font-weight: 400;
    color: rgb(33, 8, 19)
}

@media only screen and (max-width:750px) {
 
    .nb_menu {
        flex-direction: column
    }
    .projekt_box {
        width:100%;
    }
    .kontakt_cont {
        flex-direction: column;
    }
    .map {
        width: 100%;
    }
    .arkady-image {
        object-position:0 100%;
    }
    .wielo-image {
        object-position:0 10%;
    }
    .section {
        margin-inline: 2.5rem;
    }
    .nb_logo {
        margin-left: 1rem;
    }
    
    .nb_menu {
        
        margin-right: 2.5rem;
}



